* {
    padding: 0;
    margin:0;
    box-sizing: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, #d060f9, peachpuff);
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
  }

  .app-wrapper {
      text-align: center;
      padding-bottom: 20%;

      .title-wrapper {
          position: relative;
          width: 100%;
          height: 420px;

          @media(max-width: 769px){
            height: 500px;
          }
      }

      .title{
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:120px;
          letter-spacing:0.1em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        text-shadow: 
                              8px 8px peachpuff,
                              20px 20px #000000;

        @media(max-width: 500px){
            font-size: 55px;
            -webkit-text-stroke-width: 2px;
            text-shadow: 5px 6px peachpuff, 16px 10px #000000;
        }
  }

      .sub-title{
        font-size: 40px;
        font-weight: 900;
        font-style: italic;
        margin: 330px;

        @media(max-width: 769px){
            margin:0;
            margin-top: 400px;

        }

        @media(max-width: 500px){
            font-size: 32px;
            margin-top: 300px;
        }
        
      }
  }

  label {   
    font-weight: 900;
    font-style: italic;
    color: peachpuff;
    
}

  select {
    width: 100%;
    min-width: 15ch;
    max-width: 20ch;
    border: 3px solid peachpuff;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
    margin-bottom: 150px;
    font-weight: 700;
    color: #d060f9;
   

    &:focus {
        outline:none;
    }
  }