* {
    padding: 0;
    margin:0;
    box-sizing: 0;
}

body {
    min-height: 100vh;
    background: linear-gradient(180deg, peachpuff, #f95252);
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
  }